#.idea
#.DS_Store
#node_modules
*.env
.DS_Store
.idea
node_modules
project.env
.flowbite-react
.react-router
/frontend/.env.development
frontend/.env.development
.DS_Store
.env
/node_modules/

# React Router
/.react-router/
/build/
